extends layouts/main-layout.pug

block content

        //header
            nav.nav.container
                h1.text-display-3 Alpha 0.00.01
                div
                    a.btn.btn-ghost.sign-in-btn(href='/login') Login
                    a.btn.btn-dark(href='/register') Register
        main
            //.container
            //.card.hero
                    p.text-display-1.hero-title Invent in Red
                    p.text-display-1.hero-title Let&apos;s Build
                    .container
                    .card.hero
            .cover-page
                p.text-display-1.hero-title red.build
                p.text-body-1.hero-tagline _ your app
                a.btn.btn-big.btn-red(href='/login' target='_self' rel='noreferrer') ready
