//<!DOCTYPE html>
//html(lang="en")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='./assets/style.css')
        title Chili 🌶️
    doctype html
//head
// Simulate a smartphone / tablet
//body
    block content
    footer.footer
        .container
            .text-subtle &copy; 2023 Invent in Red - All rights reserved
            p.footer-tagline.text-body-3='Visit our homepage '
            a.link(href='https://redbuilder.dev') redbuilder.dev
            small.text-subtle &copy; 2023 Invent in Red - All rights reserved

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    // Google tag (gtag.js)
    script(async, src="https://www.googletagmanager.com/gtag/js?id=G-VZM1W5ZYTJ")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      
      gtag('config', 'G-VZM1W5ZYTJ');
    title Invent in Red
    link(rel="canonical", href="https://chili.redbuilder.dev")
    meta(name="robots", content="noindex, nofollow")
    meta(name="googlebot", content="noindex, nofollow")
    meta(name="googlebot-news", content="noindex, nofollow")
    meta(name="googlebot-image", content="noindex, nofollow")
    meta(name="googlebot-video", content="noindex, nofollow")
    meta(name="googlebot-mobile", content="noindex, nofollow")
    meta(name="language", content="en")
    meta(name="country", content="ZA")
    meta(name="geo.country", content="ZA")
    meta(name="geo.placename", content="Johannesburg")
    meta(name="geo.region", content="Gauteng")
    meta(name="geo.position", content="-26.2041;28.0473")
    meta(name="ICBM", content="-26.2041, 28.0473")
    link(rel="apple-touch-icon", href="icons/build.png")
    link(rel="apple-touch-icon", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="152x152", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="180x180", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="167x167", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="120x120", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="76x76", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="114x114", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="72x72", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="144x144", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="60x60", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="57x57", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="32x32", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="29x29", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="16x16", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="128x128", href="icons/build.png")
    link(rel="apple-touch-icon", sizes="96x96", href="icons/build.png")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="Invent in Red")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-touch-fullscreen", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="Invent in Red")
    link(rel="apple-touch-icon", href="icons/build.png")
    meta(name="apple-touch-fullscreen", content="yes")
    link(rel="apple-touch-startup-image", href="icons/build.png")
    link(rel="icon", href="build.ico")
    link(rel="icon", type="image/png", sizes="192x192", href="icons/build.png")
    meta(name="Author", content="Martin Myburgh")
    meta(name="Copyright", content="MIT License")
    meta(name="Keywords", content="Audio, Music, Video, Playlist, Streaming, Online, Best, Popular, Deezer, Spotify, YouTubeMusic, YouTube, Playlist, Free, PWA, Apple, Android, iOS, Windows, Podcast, Vibescout, Event, Social")
    meta(name="Subject", content="Invent in Red Builder - Invent in Red")
    meta(name="Description", content="Welcome to the Invent in Red Builder - Invent in Red, your ultimate destination for unlimited entertainment and socializing! Our free app offers a seamless and anonymous experience for users of all ages. With no login required, you can instantly enjoy our handpicked playlists, live radio, and interactive chat features. Plus, we're excited to announce that theradio.fm now features a 100% free ChatGPT client called ZapGPT, developed by tinkerAI on the Zapier platform. Keep up with your favorite artists and radio hosts, or challenge your friends to our exciting games. And with our app directory, discovering new apps and features has never been easier! At theradio.fm, we prioritize your privacy and strive to offer a fun and engaging experience without the hassle of ads and interruptions. So why wait? Download the app now and explore all the incredible features that await you!")
    meta(property="og:url", content="https://chili.redbuilder.dev")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Invent in Red Builder - Invent in Red")
    meta(property="og:description", content="From unlikely friends to lovers for life!")
    meta(property="og:image", content="https://chili.redbuilder.dev/icons/icon.png")
    meta(property="og:site_name", content="Invent in Red")
    meta(property="og:locale", content="en_ZA")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@chili")
    meta(name="twitter:creator", content="@chili")
    meta(name="twitter:title", content="Invent in Red Builder - Invent in Red")
    meta(name="twitter:description", content="From unlikely friends to lovers for life!")
    meta(name="twitter:image", content="https://chili.redbuilder.dev/icons/icon.png")
    meta(name="twitter:image:alt", content="Invent in Red")
    meta(name="twitter:domain", content="chili.redbuilder.dev")
    meta(name="twitter:app:name:iphone", content="Invent in Red")
    meta(name="twitter:app:name:ipad", content="Invent in Red")
    meta(name="twitter:app:name:googleplay", content="Invent in Red")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    link(rel='stylesheet', type='text/css', href='./assets/style.css')
body
    block content
    footer.footer
        .container
            .text-subtle Invent in Red &copy; 2023 - All rights reserved
            //.text-subtle.a.link(href='https://redbuilder.dev') redbuilder.dev
            //p.footer-tagline.text-body-3='Visit our homepage '
            
    // Start of OpenWidget (www.openwidget.com) code
    script.
      window.__ow = window.__ow || {};
      window.__ow.organizationId = "57af1df9-bc1d-46f0-bb22-92c60414c77e";
      ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[OpenWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.openwidget.com/openwidget.js",t.head.appendChild(n)}};!n.__ow.asyncInit&&e.init(),n.OpenWidget=n.OpenWidget||e}(window,document,[].slice))
    noscript You need to 
      a(href="https://www.openwidget.com/enable-javascript", rel="noopener nofollow") enable JavaScript
      | to use the communication tool powered by
      a(href="https://www.openwidget.com/", rel="noopener nofollow", target="_blank") OpenWidget
    // End of OpenWidget code